.addButton {
    color: #cb4335;
    border-radius: 30px;
    background-color: #76d7c4;
    /* padding: 7px 20px; */
    padding: 9px 9px;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

.addButton:hover{
    background-color:  #fdeb0a;
}

.addButton img{
    max-width: 30px;
}
